	<li class="nav-item active"><a class="nav-link" href="/AdminHome">Home</a></li>
							<li class="nav-item"><a class="nav-link" href="/AStudentInfo">StudentInfo</a></li>
							<li class="nav-item"><a class="nav-link" href="/AScheduleInfo">ScheduleInfo</a></li>
                            <li class="nav-item"><a class="nav-link" href="/AJoinInfo">JoinInfo</a></li>
     <li class="nav-item"><a class="nav-link" href="/AFeedBackInfo">FeedBackInfo</a></li>
                    <li class="nav-item"><a class="nav-link" href="/">Logout</a></li>