<li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
							<li class="nav-item"><a class="nav-link" href="/AdminLogin">AdminLogin</a></li>
							<li class="nav-item"><a class="nav-link" href="/TutorLogin">TutorLogin</a></li>
<li class="nav-item"><a class="nav-link" href="/NewTutor">NewTutor</a></li>
							<li class="nav-item"><a class="nav-link" href="/StudentLogin">StudentLogin</a></li>
                            <li class="nav-item"><a class="nav-link" href="/NewStudent">NewStudent</a></li>