	<li class="nav-item active"><a class="nav-link" href="/StudentHome">Home</a></li>
							<li class="nav-item"><a class="nav-link" href="/SProfile">Profile</a></li>
							<li class="nav-item"><a class="nav-link" href="/SSchedule">Schedule</a></li>
                  <li class="nav-item"><a class="nav-link" href="/SBookInfo">BookInfo</a></li>
                   <li class="nav-item"><a class="nav-link" href="/SFeedBack">FeedBack</a></li>
     <li class="nav-item"><a class="nav-link" href="/SFeedBackInfo">FeedBackInfo</a></li>
                    <li class="nav-item"><a class="nav-link" href="/">Logout</a></li>