	<li class="nav-item active"><a class="nav-link" href="/TutorHome">Home</a></li>
							<li class="nav-item"><a class="nav-link" href="/TProfile">Profile</a></li>
							<li class="nav-item"><a class="nav-link" href="/TAddSchedule">AddSchedule</a></li>
<li class="nav-item"><a class="nav-link" href="/TScheduleInfo">ScheduleInfo</a></li>
	<li class="nav-item"><a class="nav-link" href="/TBookInfo">BookInfo</a></li>
		<li class="nav-item"><a class="nav-link" href="/TFeedBack">FeedBack</a></li>
                    <li class="nav-item"><a class="nav-link" href="/">Logout</a></li>